:root {
    --bg-color: #c98a57;
    --menu-color: #bf7e49;
    --dark-red: #9f1c0d;
}

html {
    background-color: var(--bg-color);
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 500;
}
body {
    display: flex;
    justify-content: center;
}

.sidebar {
    background-color: var(--menu-color);
    width: 10rem;
    height: 100vh;
}

.container {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
}

.menu {
    width: 28rem;
    height: 85vh;
    border-radius: 9px;
    box-shadow: 0px 0px 55px 10px #9b673353;
    overflow-y: auto;
    background-color: var(--menu-color);
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 28rem;
}

.menu-name {
    padding-right: 50px;
    margin-left: 20px;
}

.menu-button {
    border-radius: 6px;
    height: 2rem;
    width: 7rem;
    color: white;
    background-image: linear-gradient(rgb(205, 67, 67), var(--dark-red));
    border: none;
    margin-right: 15px;
    font-size: 0.8rem;
    transition: all 150ms;
}

.menu-header {
    margin: 0 auto;
    position: sticky;
    top: 0px;
    padding: 10px;
    background-color: var(--menu-color);
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-header img {
    width: 140px;
}

.menu-button:hover {
    scale: 1.1;
}

.menu-header.sticking {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
