:root {
    --bg-color: #d79a68;
    --menu-color: #b98459;
    --dark-red: #812d23;
    --red: #ae3e3a;
    --text-color: #f5e7cd;
}

.container {
    display: grid;
    grid-template-columns: minmax(220px, 9%) 1fr;
}

html, body {
    margin: 0;
}

span {
    padding: 5px;
}

body {
    background-color: var(--bg-color);
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
}
